
<div class="container my-5 ">

    <footer class="bg-light mt-auto text-center text-white fixed-bottom">
   <div class="container p-2 pb-0">
      <section >
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          href="https://www.facebook.com/"
          target="_blank"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a> <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          href="https://twitter.com/?lang=sr"
          target="_blank"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
   <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://www.instagram.com/"
          target="_blank"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a> 
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://mail.google.com/"
          target="_blank"
          role="button"
          ><i class="fa-solid fa-envelope"></i></a> 
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="https://web.whatsapp.com/"
          target="_blank"
          role="button"
          ><i class="fa-brands fa-whatsapp"></i></a>
      </section> 
    </div>
     <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">DeliverTOMe</a>
    </div>
  </footer>
  </div>