.promena{
border: 1px solid blue;
}

.pre{
    border: 1px solid red;
}

.btn{
    position: absolute;
    margin-top: 440px;
    margin-left: 75px;
}
.img{
    height: 100vh;
}
.main{
    background-image: url("../../assets/img/naruci3.png");
    background-size: cover;
}